.units {font-weight:normal}

table#locales > tbody > tr:nth-child(2n+1) {background-color: #E4E4E4;}
table#locales > tbody > tr.active > td {background-color: #67BAEF;}
table#locales > tbody > tr:hover {background-color: #b7caff; cursor: pointer;}

table#locales th {display: inline-cell; vertical-align: top;}
table#locales td.m2::after {content:" m²";}
table#locales td.m::after {content:" m";}

table#locales tfoot {background-color:lightblue;font-weight:bold;color:navy;}

#vol2009, #renh2009, #vol2017, #renh2017 {text-align:right;font-weight:bold}

table#results thead {background-color:#3c763d;color:white}
table#results tbody {background-color:white}
